<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="profile d-flex">
        <h2>Profile</h2>
        <i class="fa-regular fa-bell"></i>
      </div>
      <%# <p><%= link_to "List of my events", venue_events_path(@venue_id)</p> %>
      <p><%= link_to "myvenue", venues_path%></p>
    </div>
    <div class="col-md-8">
      <h3>Booking Information??</h3>

    </div>
  </div>
  <%= render 'shared/footer' %>

</div>
