// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

//HOMEPAGE

#homepage{
  background-color: $primary;
}
#homecard{
  margin-bottom: 50px;
  h3{
    margin-bottom: 4vw;
  }
}


#front-page{
  padding-left: 10vw;
  padding-top: 20vw;

  h2{
    font-family: $heading;
    font-size: 8vw;
  }
  em{
    color: yellow;
  }
  h3{
    font-size: 5vw;
    font-family: $paragraph;
    font-weight: 600;
  }
  button{
    margin-top: 2vw;
    border-radius: 5px;
    background-color: black;
    padding: 2vw;
    font-family: $paragraph;
    font-size: 5vw;
    a{
      color: white;
      font-family: $smallheading;
      font-size: 4vw;
    }
  }
}

#photo{
  width: max-content;
  img{
    width: 66vw;
  }
}

#pagesshow{
  position: fixed;
  z-index: 2;
  background-color: white;
}

#listofvenue{
  position: relative;
  top: 115px;
  background-color: white;
}
