// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;


#front-page{
  padding: 10vw;
  padding-top: 9vw;
  background-color: #9395D3;

  h2{
    font-family: $heading;
    font-size: 8vw;
  }
  em{
    color: yellow;
  }
  h3{
    font-size: 5vw;
    font-family: $paragraph;
    font-weight: 600;
  }
  button{
    margin-top: 2vw;
    border-radius: 5px;
    color: $white;
    background-color: black;
    padding: 1vw;
    font-family: $paragraph;
    font-size: 3vw;
  }
}

#photo{
  width: max-content;
  img{
    width: 66vw;
  }
}
