<div class="footernav">

    <div class="row" style="background-color:#ffff">
      <div class="col-12" id="footer">
        <%= link_to root_path do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #b96cd5;"></i>
          <p>explore</p>
        <% end %>
        <%= link_to root_path do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #b96cd5;"></i>
          <p>inbox</p>
        <% end %>
        <%= link_to root_path do %>
          <i class="fa-regular fa-calendar" style="color: #b96cd5;"></i>
          <p>plan</p>
        <% end %>
        <%= link_to users_path do %>
          <i class="fa-regular fa-user" style="color: #b96cd5;"></i>
          <p>profile</p>
        <% end %>
      </div>
    </div>

</div>
