<div class="footernav">
  <div class="footer footer-expand-sm footer-light footer-lewagon">
    <div class="container-fluid">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
</div>
