<div class="phonenavbar">
  <div class="row">
    <div class="col-md-10" id="navbar_search" style="justify-content:center;">
      <%= form_with url: root_path, method: :get, class: "tool-form d-flex" do %>
        <i class="fa-solid fa-location-dot" id="location-nav"></i>
        <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Search.." %>
        <%= submit_tag "", name: "", class: "btn search-btn" %>
      <% end %>
    </div>
  </div>
</div>
