<div class="container">
  <div class="row">
    <div class="col-sm-12" id="eventform">
      <h3>Let's get planning!</h3>
    </div>
  </div>
  <div class="col-sm-12" id="innereventform">
    <%= render "form"%>
  </div>
</div>
