<div class="container">
  <div class="row" style="background-color:#9395D3;">
    <div class="col-sm-12" id="eventform">
      <h3>Let's get planning!</h3>
    </div>
    <div class="col-sm-12" id="innereventform">
      <%= render "form"%>
    </div>
  </div>
</div>
