<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <i class="fa-regular fa-face-smile fa-lg"></i>
      <h1>Let's get planning!</h1>
    </div>
    <div class="col-sm-10">
      <%= render "form", venue: @venue, event: @event %>
    </div>
  </div>

</div>
