<h1>Event detail page</h1>

<%= @event.event_name %>
<% if policy(@event).show? %>
  <%= link_to "Edit this Event", events_update_path(@event) |
<% end %>


<%# <%= button_to "Destroy this event", @event, method: :delete if policy(@event).destroy? %>
<%= link_to "Add Guests", new_venue_event_attendance_path(@venue, @event) %>
