<div class="container" id="homepage">
  <div class="row">
    <div class="col-md-12" id="front-page">
      <h2>So,</h2>
      <h2>what is</h2>
      <h2>the <em>plan?</em></h2>
      <h3>streamline your event planning in one place</h3>
      <button><%= link_to "Plan LInk Your Event", root_path %></button>
      <div class=" col-md-12" id="photo">
        <%= image_tag asset_path('footer2.png') %>
      </div>

    </div>
  </div>
  <div class ="row"><%= render 'shared/footer'%>
</div>
