@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;



#attendances_list{
  font-family: $paragraph;
  form{
    display: grid;
    padding-left: 4vw;
  }
  input{
    margin-right: 4vw;
  }
}

.going{
  margin: 3vw;
  img{
    border-radius: 50%;
    width: 10vw;
  }
  p{
    margin-left: 5vw;
    padding-top: 2vw;
  }
}


.larger-checkbox {
  width: 30px;
  height: 30px;
}

.larger-checkbox-label {
  font-size: 18px;
  line-height: 30px; /* Adjust line height for vertical alignment */
}

#send-invites-user-img {
  padding-right: 42px;
}

#invites-container {
  margin-top: 25px;
}

#invites_button {
  font-family: $paragraph;
  margin-top: 525px;
  font-size: 4vw;
}


// ATTENDANCE SHOW PAGE
.flex{
  padding-left: 5vw;
  margin-top: 3vw;
  border-bottom: 1px solid #c6c6c6;
}

#btncontrol{
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  background-color: #FBF9FF;
  padding-top: 4vw;
  border-bottom: 1px solid #9395D3;
  #tab2{
    font-family: $smallheading;
    color: #ee3c3c;
    background: none;
    border: none;
  }
  #tab1{
    font-family: $smallheading;
    color: #383e84;
    background: none;
    border: none;
  }

  .activebtn{
    font-family: $smallheading;
    border: none;
    background-color: #e2e2e2;
    color: rgb(212, 34, 212);
    font-weight: 600;
    font-size: 5vw;
  }
}



.listofpeople{
  border:none;
  padding: 5vw;
}

#user_name{
  padding-left: 7vw;
}

#attshow{
  background-color: $primary;
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
  }
}

#attheader{
  padding-left: 8vw;
  padding-top: 5vw;

}


// ATTENDANCE INVITE

#attendanceinvitemain{
  background-color: $primary;
}

#attendanceinvite{
  padding-top: 3vw;
  justify-content: space-between;
  padding-right: 6vw;
  padding-bottom: 2vw;
  background-color: $primary;
  img{
    width: 28vw;
    height: 8vw;
  }
  .fa-arrow-left::before{
    color: $white;
    font-size: 6vw;
    padding-top: 1vw;
  }
}

#attendances-search{
  background-color: #ffff;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#invites-container{
  background-color: #ffff;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 50px;
}

#invites_button {
  --bs-btn-border-color: none;
  color: white;
  background-color: $primary;
  position: fixed;
  bottom: -1px;
  width: -webkit-fill-available;
  font-family: $smallheading;
  font-size: 5vw;
}


// ATTENDANCE CARD RECEIVE

#receivein{
  // box-shadow: 0 -2px 5px -2px #828080;
  padding: 2vw;
  margin-top: 4vw;
  h2{
    font-weight: 600;
    font-size: 6vw;
    font-family: $smallheading;
  }
  p{
    font-family: $paragraph;
    font-size: 4vw;
  }
}

#question{
  p{
    font-size: 5vw;
    font-weight: 600;
    font-family: $paragraph;
  }
}

#questionbool{
  .button-container{
    justify-content: center;
  }
}

#going-event{
  --bs-btn-border-color: none;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-weight: 500;
  font-size: 5vw;
  background: #2a7c2a;
}
#not-going-event{
  --bs-btn-border-color: none;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-weight: 500;
  font-size: 5vw;
  background: #733724;
}
