@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;



#attendances_list{
  form{
    display: grid;
    padding-left: 6vw;
  }
  input{
    margin-right: 10vw;
  }
}

.going{
  margin: 3vw;
  img{
    border-radius: 50%;
    width: 10vw;
  }
  p{
    margin-left: 5vw;
    padding-top: 2vw;
  }
}


// ATTENDANCE SHOW PAGE
.flex{
  padding-left: 5vw;
  margin-top: 3vw;
  border-bottom: 1px solid #c6c6c6;
}
.activebtn{
  border: none;
  background-color: #3f3cd1;
  color: white;
  padding: 1vw;
  font-family: $smallheading;
  text-decoration: underline;
  font-size: 5vw;

}
#btncontrol{
  button{
    border: none;
    color: black;
    font-family: $smallheading;
    font-size: 5vw;
    opacity: 0.25;

  }

}



.listofpeople{
  border:none;
  margin: 5vw;
}

#user_name{
  padding-left: 7vw;
}

#attshow{
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
  }
}

#attheader{
  background-color: $primary;
  padding-left: 8vw;
  padding-top: 5vw;
}
