@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

#bookingnew{
  background-color: $primary;
}

.form-check-input[type="radio"] {
  border-color: cadetblue;
  margin-right: 2vw;
}

.form-check-input:checked {
  background-color: $primary;
  border-color: $secondary;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  font-family: $paragraph;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.25;
}

.form-check-label{
  font-family: $paragraph;
  font-weight: 600;
}

.timechoose{
  border: 1px solid cadetblue;
  border-radius: 3px;
  padding: 2vw;
  margin: 2px;
}

.col-form-label {
  font-weight: 500;
  font-family: $smallheading;
  padding-left: 3vw;
  text-decoration: underline;
}

#booking-timeslot{
  background-color: white;
  padding: 9vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



#new_booking{
  .btn-primary{
    border: none;
    font-family: $paragraph;
    font-weight: 500;
    font-size: 5vw;
    color: white;
    float: inline-end;
    margin-right: 4vw;
  }
}

.fbutton{
  p{
    color: black;
    font-size: 4vw;
    float: right;
    font-style: oblique;
    margin-right: 3vw;
  }
  .fa-arrow-right-long::before{
    color: black;
    font-size: 3vw;
  }
}





//BOOKING BUTTON IN SHOW PAGE
#floatbook{
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  width: -webkit-fill-available;
  justify-content: space-around;
  box-shadow: 0 -2px 5px -2px #c1bdbd;
  padding: 2vw;
  text-align-last: center;
  a{
    background: $primary;
    color: $white;
    padding: 2vw;
    text-decoration: none;
    font-family: $paragraph;
    font-size: 5vw;
    font-weight: 500;
    font-style: normal;
  }

}

// BOOKING CONFIRMATION

#bookingtitle{
  padding-bottom: 5vw;
  background-color: $primary;
  justify-content: space-between;
  p{
    padding-top: 2vw;
    color: white;
    font-family: $paragraph;
    font-size: 5vw;
  }
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
  }
  img{
    width: 28vw;
    height: 8vw;
  }

}

#booking-titles{
  background-color: #dfe1ff;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


#reserve{
  .fa-circle-check::before{
    color: rgb(3, 110, 3);
    font-size: 15vw;
  }
  h3{
    color: green;
    font-size: 6vw;
    padding-left: 9vw;
    font-weight: 700;
  }

}

.reserveinfo{
  border-radius: 5px;
  margin-top: 9vw;
  padding: 4vw;
  padding-top: 5vw;

  p{
    font-family: $paragraph;
    font-weight: 500;
    font-size: 4vw;
  }
}

#createevent-btn{
  text-align: -webkit-center;
  .btn{
    color:$white;
    font-family: $paragraph;
    font-size: 5vw;
    background: black;
    border-radius: 11px;
  }
}


// BOOKING NEW
#createbookingtitle{
  padding-bottom: 5vw;
  padding-top: 5vw;
  background-color: #9395D3;
  justify-content: space-between;
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
  }
}
