@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

.cardownvenue{
  margin: 5vw;
  text-align: center;

  p{
    font-family: $paragraph;
    font-weight: 500;

  }
  a{
    text-decoration: none;
    background-color: $paragraph;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    font-size: 4vw;
    color: #000807;
    font-family: $heading;
  }
}

.card{
  border-style: none;
  background-color: none;
}

.individual_card{
  margin-bottom: 2rem;
  transition: 0.3s;
  img{
    width: -webkit-fill-available;
    transition: 0.3s;
    &:hover{
      filter: brightness(70%)
    }

  }
  &:hover{
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(216, 216, 216, 0.2);
  }
}

.card-body{
  padding: 10px;
  background-color: $white;
  h3{
    font-family: $heading;
    a{
      text-decoration: none;
      font-family: $heading;
      font-size: 6vw;
      color: $black

    }
  }

}

// venueshowpage
#venueshowcard{
  margin-top: 2vw;
  padding: 2vw;
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
}

// users venue listing and wishlist

#venuelistingtitle{
  margin-top: 2vw;
  padding: 2vw;

  p{
    font-family: $heading;
    padding-top: 2vw;
    font-size: 3vw;
    padding-left: 3vw;
  }
  .fa-circle-arrow-left::before {
    color: $primary;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;
    padding-right: 1.5vw;

  }
}
#listing-card{
  border: 1px solid #d1d1d16b;

}
.listinginner{
  padding: 2vw;
  margin: 2vw;
  border: 1px solid;
}



#inner_listing{
  strong{
    font-size: 4vw;
    font-family: $paragraph;
  }
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-size: 3vw;
    font-family: $paragraph;
  }

  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }

}

//EVENT SHOW PAGE

#eventshowpage{
  margin-top: 2vw;
  padding: 2vw;
  .fa-circle-arrow-left::before {
    color: $primary;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;

  }
  h3{
    font-family: $heading;
    font-size: 5vw;
    padding-left: 4vw;
  }
  p{
    font-family: $paragraph;
  }
}


// EVENT LISTING
#eventlist{
  margin-top: 2vw;
  padding: 2vw;
  .fa-circle-arrow-left::before {
    color: $primary;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;
    padding-right: 1.5vw;

  }
}
#eventlistdetail{
  border: 1px solid;
  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }
}

#eventdetail{
  margin-top: 2vw;
  padding: 2vw;
  border: 1px silver;
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
  a{
    padding-right: 6vw;
    background-color: black;
    color: white;
    font-size: 3vw;
    font-weight: 400;
    padding-left: 6vw;
  }
}
