@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;



// venueshowpage
#venueshowcard{
  margin-top: 2vw;
  padding: 2vw;
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
}

// users venue listing and wishlist

#venuelistingtitle{
  padding-top: 4vw;
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
  }
}
#listing-card{
  width: -webkit-fill-available;
  margin-top: 5vw;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  background-color: #ffff;

}
.listinginner{
  padding: 2vw;
  margin: 2vw;
  border: 1px solid;
}

#novenue{
  width: -webkit-fill-available;
  margin-top: 5vw;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  background-color: #ffff;
  text-align: -webkit-center;
  margin-top: 25vw;
  img{
    width: 95vw;
  }
  h3{
    opacity: 0.5;
    font-style: oblique;
    font-size: 5vw;
    margin-top: 5vw;
  }
  a{
    font-weight: 600;
    color: rgb(40, 40, 126);
  }
}

#venuerow{
  background-color: $primary;
}


#inner_listing{
  strong{
    font-size: 4vw;
    font-family: $paragraph;
  }
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-size: 3vw;
    font-family: $paragraph;
  }

  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }

}

#venuecarddetail{
  border: solid 1px #e2dfdd;
  border-radius: 2px;
  line-height: 0.5px;
  padding-top: 1.5vw;
  p{
    font-family: $paragraph;
    font-size:3vw ;
  }
  .fa-star::before{
    padding-right: 2vw;
    color: $primary;
  }

}

#venueshowcard{
  h3{
    font-family: $smallheading;
    font-weight: 500;
  }
  a{
    text-decoration: none;
    color: #554ed6;
  }
  p.review{

      margin-bottom: 60px;
      font-family: $paragraph;
      font-size: 13px;
  }

}


.reviewbox{
  padding-bottom: 27px;
  h4{
    font-weight: 600;
    font-size: 5vw;
    font-family: $smallheading;
  }
}

#venuedetails{
  p{
    font-weight: 400;
    font-size: 4vw;
  }
  h4{
    font-weight: 600;
    font-size: 5vw;
    font-family: $smallheading;
  }
}


#capacity{
  h4{
    font-weight: 600;
    font-size: 5vw;
    font-family: $smallheading;
  }
  p{
    font-weight: 400;
    font-size: 4vw;

  }
}

#venueshowtop{
  a{
    margin-top: 3vw;
  }
}

//EVENT SHOW PAGE

#eventshowpage{
  margin-top: 2vw;
  padding: 2vw;
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
  }
  p{
    font-family: $paragraph;
  }
}


#imgshow{
  height: 40vw;
}

#eventshowpage-detail{
  margin-left: 5vw;
  margin-top: 2vw;
  padding-bottom: 3vw;
  h2{
    font-family: $smallheading;
    font-weight: 500;
    font-size: 6vw;
  }
  h3{
    font-family: $smallheading;
    font-size: 6vw;

  }
  p{
    font-family: $paragraph;
    font-size: 4vw;
  }
}


.venuesecondetails{
  padding-left: 5vw;
  line-height: 0;
  .fa-calendar::before {
    color: $primary;
    font-size: 5vw;
    padding-top: 2vw;

  }
  .venuesecondetail{
    padding-left: 4.5vw;
  }
}

.venueaddresss{
  margin-top: 1vw;
  padding-left: 5vw;
  line-height: 0.5;
  .fa-location-dot::before {
    color: $primary;
    font-size: 5vw;
    padding-top: 2vw;
  }
  .venueaddress{
    padding-left: 1.5vw;
  }

}

#attendances{
    margin-left: 5vw;
    margin-top: 2vw;
    padding-bottom: 3vw;
  h3{
    font-family: $smallheading;
    font-size: 4vw;

  }

}

.attstatus{
  margin-right: 12vw;
  p{
    font-family: $paragraph;
    font-size: 4vw;
    padding-left: 5vw;
  }
  .fa-users::before{
    color: $primary;
    font-size: 5vw;
    padding-top: 2vw;
    padding-left: 5vw;
  }
}


#eventshowpage-description{
  margin-left: 5vw;
  margin-top: 3vw;
  margin-bottom: 70px;
  h3{
    font-family: $smallheading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
    font-size: 4vw;
    padding-right: 3vw;
  }
}

.fa-trash-can::before{
  padding-left: 50vw;
  color: white;
}




// INVITATION BUTTON IN EVENT SHOW PAGE

.floatbutton{
  position: fixed;
  bottom: -3px;
  width: -webkit-fill-available;
  justify-content: space-around;
  box-shadow: 0 -2px 5px -2px #c1bdbd;
  padding-right: 29vw;
  .btn-primary{
    border: none;
    background-color: $primary;
    color: white;
    font-family: $paragraph;
    font-size: 5vw;
    width: -webkit-fill-available;
    &:hover{
      background-color: #835fd1;
    }
  }

}


@mixin modal-fullscreen() {
  padding: 0 !important; // override inline padding-right added from js

  .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .modal-body {
    overflow-y: auto;
  }

}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .modal-fullscreen#{$infix} {
      @include modal-fullscreen();
    }

  }
}

.btn-open-modal {
  margin-bottom: 0.5em;
}



// EVENT LISTING
#eventlistrow{
  background-color: $primary;
}

#eventlist{
  padding-left: 8vw;
  padding-top: 5vw;
  padding-bottom: 4vw;
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
  }
}
#eventlistdetail{
  background-color: white;
  padding: 9vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 37px;
  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }
}

#eventdetail{
  margin-top: 2vw;
  padding: 2vw;
  border: 1px silver;
  line-height: 1;

  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
  a{
    padding-right: 6vw;
    background-color: $primary;
    color: white;
    font-size: 4vw;
    font-weight: 400;
    padding-left: 6vw;
  }
}

#noevent{
  text-align: -webkit-center;
  margin-top: 25vw;
  img{
    width: 95vw;
  }
  h3{
    opacity: 0.5;
    font-style: oblique;
    font-size: 5vw;
    margin-top: 5vw;
  }
}
