@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

.cardownvenue{
  margin: 2vw;
  text-align: center;
  border: 1px solid $primary;
  padding: 2vw;

  p{
    font-family: $paragraph;
    font-weight: 500;
  }
  a{
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    font-size: 4vw;
    color: $black;
    font-family: $smallheading;
    font-weight: 500;
  }
}

.card{
  border-style: none;
  background-color: none;
}

.individual_card{
  margin-bottom: 2rem;
  transition: 0.3s;
  img{
    width: -webkit-fill-available;
    transition: 0.3s;
    &:hover{
      filter: brightness(70%)
    }

  }
  &:hover{
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(216, 216, 216, 0.2);
  }
}

.card-body{
  padding: 10px;
  background-color: $white;
  h3{
    font-family: $heading;
    a{
      text-decoration: none;
      font-family: $heading;
      font-size: 6vw;
      color: $black

    }
  }

}

// venueshowpage
#venueshowcard{
  margin-top: 2vw;
  padding: 2vw;
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
}

// users venue listing and wishlist

#venuelistingtitle{
  margin-top: 2vw;
  padding: 2vw;

  p{
    font-family: $heading;
    padding-top: 2vw;
    font-size: 3vw;
    padding-left: 3vw;
  }
  .fa-circle-arrow-left::before {
    color: $primary;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;
    padding-right: 1.5vw;

  }
}
#listing-card{
  border: 1px solid #d1d1d16b;

}
.listinginner{
  padding: 2vw;
  margin: 2vw;
  border: 1px solid;
}



#inner_listing{
  strong{
    font-size: 4vw;
    font-family: $paragraph;
  }
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-size: 3vw;
    font-family: $paragraph;
  }

  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }

}

#venuecarddetail{
  border: solid 1px #e2dfdd;
  border-radius: 2px;
  line-height: 0.5px;
  padding-top: 1.5vw;
  p{
    font-family: $paragraph;
    font-size:3vw ;
  }
}

#venueshowcard{
  h3{
    font-family: $smallheading;
    font-weight: 500;

  }
}

#venuedetails{
  p{
    font-weight: 400;
    font-size: 4vw;
  }
  h4{
    font-weight: 600;
    font-size: 5vw;
  }
}

#capacity{
  border: 1px solid #bdbdbd;
  h3{
    font-family: $smallheading;
    font-weight: 600;
    font-size: 5vw;
  }
  h4{
    font-weight: 600;
    font-size: 5vw;
  }
  p{
    p{
      font-weight: 400;
      font-size: 3vw;
    }
  }
}

//EVENT SHOW PAGE

#eventshowpage{
  margin-top: 2vw;
  padding: 2vw;
  .fa-arrow-left::before {
    color: $black;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;

  }
  h3{
    font-family: $smallheading;
    font-size: 3vw;
    padding-left: 4vw;
    padding-top: 1.5vw;
  }
  p{
    font-family: $paragraph;
  }
}

#eventshowpage-detail{
  padding: 2vw;
  h2{
    font-family: $smallheading;
    font-weight: 500;
    font-size: 6vw;
  }
  h3{
    font-family: $smallheading;
    font-size: 4vw;

  }
  p{
    font-family: $paragraph;
    font-size: 3vw;
  }
}

.venueaddresss{
  padding-left: 10vw;
  .fa-location::before {
    color: $primary;
    font-size: 7vw;
  }
  .venueaddress{
    padding-left: 1.5vw;
  }

}
.venuesecondetails{
  padding-left: 10vw;

  .fa-calendar::before {
    color: $primary;
    font-size: 5vw;

  }
  .venuesecondetail{
    padding-left: 1.5vw;
  }

}

#eventshowpage-description{
  margin-left: 3vw;
  h3{
    font-family: $smallheading;
    font-size: 4vw;
  }
  p{
    font-family: $paragraph;
  }
}

#invitationbutton{
  background-color: $primary;
  border-radius: 4px;
  bottom: 26px;
  position: absolute;
  margin: 1.5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  width: -webkit-fill-available;
  justify-content: space-around;
  p{
    font-family: $paragraph;
  }
  a{
    font-family: $smallheading;
    text-decoration: none;
    background: black;
    color: white;
    padding: 2vw;
  }

}


/* app/assets/stylesheets/application.scss */
.drawer-container {
  position: relative;
}

.drawer {

  bottom: -100%; /* Initially hidden */
  left: 0;
  width: 100%;
  height: 400vw; /* Set your desired height */
  background-color: #fff;
  transition: bottom 0.3s ease-out; /* Animation transition */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.drawer.open {
  bottom: 0; /* Slide in when open */
}



// EVENT LISTING
#eventlist{
  margin-top: 2vw;
  padding: 2vw;
  .fa-circle-arrow-left::before {
    color: $primary;
    font-size: 3vw;
    padding-top: 3vw;
    padding-top: 1.5vw;
    padding-right: 1.5vw;

  }
}
#eventlistdetail{
  border: 1px solid;
  a{
    text-decoration: none;
    font-family: $heading;
    font-size: 6vw;
    color: $black
  }
}

#eventdetail{
  margin-top: 2vw;
  padding: 2vw;
  border: 1px silver;
  h3{
    font-family: $heading;
    font-size: 5vw;
  }
  p{
    font-family: $paragraph;
  }
  a{
    padding-right: 6vw;
    background-color: black;
    color: white;
    font-size: 3vw;
    font-weight: 400;
    padding-left: 6vw;
  }
}
