@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #a38ed5;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

@media (max-width: 1180px) {
  .footernav{
    display: block;
  }
}

@media (min-width: 1180px) {
  .footernav{
    display:none;
  }
}

.footernav {
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  width: -webkit-fill-available;
  justify-content: space-around;
  box-shadow: 0 -2px 5px -2px #c1bdbd;

  a{
    color: $primary;
    text-align: center;
    font-size: 3vw;
    text-decoration: none;
  }
}

#footer{
  display: flex;
  justify-content: space-around;
  padding-top: 2.5vw;
  height: 11vw;
}

.fa-magnifying-glass::before{
  color: $primary;
  font-size: 6vw;
}
.fa-calendar::before{
  color: $primary;
  font-size: 6vw;
}
.fa-user::before{
  color: $secondary;
  font-size: 6vw;
}
.fa-home::before{
  color: $secondary;
  font-size: 6vw;
}
.fa-bell::before{
  color: $secondary;
  font-size: 6vw;
}
.fa-user-lock::before{
  color: $secondary;
  font-size: 6vw;
}



/* Style the links inside the navigation bar */
