@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

// NOTIFICATION

#notiheader{
  background-color: $primary;
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
  }
}

.notificationbox{
  background-color: $white;
}


#friend-header{
  background-color: #ffffff;
  .friend-requests {
    text-align: left;
    color: $black;
    font-family: $heading;
    font-size: 4vw;
  }
  .find-friends {
    text-align: right;
    font-size: 4vw;
    a{
      color: $primary;
      font-family: $smallheading;
    }
  }
}
.norequest{
  text-align: -webkit-center;
  margin-top: 20vw;
  img{
    width: 60vw;
  }
  h4{
    opacity: 0.5;
    font-style: oblique;
    font-size: 5vw;
  }
}

.noinvitation{
  text-align: -webkit-center;
  margin-top: 25vw;
  img{
    width: 34vw;
  }
  h4{
    opacity: 0.5;
    font-style: oblique;
    font-size: 5vw;
    margin-top: 5vw;
  }
}


#boxcontrol{
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  background-color: #ffffff;
  padding-top: 4vw;
  .activebtn{
    font-family: $smallheading;
    border: none;
    background-color: #e2e2e2;
    color: rgb(212, 34, 212);
    font-weight: 600;
    font-size: 5vw;
  }
}

.notbtn{
  border-bottom: 1px solid #9395D3;
  #tab2{
    font-family: $smallheading;
    color: $black;
    background: none;
    border: none;
  }
  #tab1{
    font-family: $smallheading;
    color: $black;
    background: none;
    border: none;
  }

}





#placeholder_friend_search {
  font-family: $paragraph;
}

.btn-success {
  background-color: $primary;
}

a {
  text-decoration: none;

}

#friend_search {
  background-color: $white;
  margin-right: 15px;
  border-color: $secondary;
  font-family: $paragraph;
}

#request_name {
  margin-left: 15px;
  font-family: $paragraph;
}

#friend_name_index {
  font-family: $paragraph;
}

#confirm_button {
  font-family: $paragraph;
}

#send_request {
  font-family: $paragraph;
  --bs-btn-border-color: none;
}

.notilist{
  border: none;
  padding-top: 2vw;
  margin-bottom: 80px;
}

#friendheader{
  padding-top: 3vw;
  justify-content: space-between;
  padding-right: 6vw;
  padding-bottom: 2vw;
  background-color: $primary;
  img{
    width: 28vw;
    height: 8vw;
  }
  .fa-arrow-left::before{
    color: $white;
    font-size: 6vw;
    padding-top: 1vw;
  }
}

.cardownfriend{
  a{
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    font-size: 4vw;
    color: #1d1d1d;
    font-family: $smallheading;
    font-weight: 500;
  }
}


#listoffriend{
  margin: 4vw;
  h3{
    font-size: 4vw;
    font-weight: 600;
  }
}

.list{
  img{
    border-radius: 50%;
  }
  p{
    font-family: $paragraph;
    margin-left: 4vw;
  }
}
