// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "map";
@import "card";
@import "bootstrapicon";
@import "stimulus";
@import "attendances";
@import "booking";
@import "friend";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;


$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;



.container{
  background-color: #f8fbff;
  height: 100%;
  width: -webkit-fill-available;

}

html, body {
  height:100%;
  margin:0;
  padding:0;
  background-color: #f8fbff;
}
