@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 1180px) {
  .desktopnavbar{
    display:none;

  }
  .phonenavbar{
    display:block;

  }
}

@media (min-width: 1180px) {
  .desktopnavbar{
    display:block;
  }
  .phonenavbar{
    display:none;
  }
}

.phonenavbar{
  text-align: -webkit-center;
  margin-bottom: 2vw;
  width: 95vw;


}

#navbar_search{
  justify-content: center;
  margin-left: 3vw;
  margin-top: 5vw;
  .fa-solid{
    padding-top: 1vw;
  }
  .fa-location-dot::before{
    font-size: 6vw;
    padding-right: 2vw;
  }

}

.tool-form{
  .form-control{
    border-block: none;
  }
}

#navbarheader{
  padding-top: 3vw;
  justify-content: space-between;
  padding-right: 6vw;
  padding-bottom: 2vw;
  background-color: $primary;
  img{
    width: 28vw;
    height: 8vw;
  }
  .fa-circle-plus::before{
    color: $white;
    font-size: 6vw;
    padding-top: 1vw;
  }
}

.cardownvenue{
  a{
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    font-size: 4vw;
    color: #1d1d1d;
    font-family: $smallheading;
    font-weight: 500;
  }
}

#homecard{
  border-style: none;
  --bs-card-bg: none;
  h3{
    font-family: $smallheading;
    font-weight: 600;
    font-size: 5vw;
  }
}

.individual_card{
  margin-bottom: 2rem;
  transition: 0.3s;
  img{
    width: -webkit-fill-available;
    transition: 0.3s;
    &:hover{
      filter: brightness(70%)
    }

  }
  &:hover{
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(216, 216, 216, 0.2);
  }
}

.card-body{
  padding: 10px;
  background-color: $white;
  line-height: 0;
  h3{
    text-decoration: none;
    font-size: 5vw;
    color: $black;
    font-family: $smallheading;

  }


}
.card-title{
  font-family: $paragraph;
  font-size: 4vw;
  color:$black;
}
.card-text{
  font-family: $paragraph;
  color: $black;
  font-size: 3vw;
}

#location{
  height: 8vw;
  border: 1px solid #b7b7b7;
}
