@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
