@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

#booking-description{
  img{
    width: -webkit-fill-available;
  }
  h2{
    font-size: 4vw;
    font-family: $smallheading;
  }
}

.createevent-btn{
  .btn{
    background: black;
    color: white;
    font-weight: 500;
    font-size: 7vw;
  }

}

#bookingtitle{
  text-align-last: center;
  h3{
    font-size: 5vw;
    font-family: $smallheading;
  }
}


// PROFILE PAGE

#profileall{
  background-color: $primary;
}
.profile-header{
  .fa-arrow-left::before{
    color: white;
  }
  h3{
    font-family: $smallheading;
    color: white;
    font-size: 5vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
  }
}

#profile{
  width: -webkit-fill-available;
  margin-top: 5vw;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  background-color: #ffff;
  text-align: -webkit-center;
  border-bottom: 1px solid #9a99d1;

}

.profile-photo{
  padding-top: 3vw;
  padding-left: 3vw;
  width: 23vw;
  img{
    border-radius: 50%;
    width: -webkit-fill-available;
  }
}
.profile-info{
  padding-top: 2vw;
  margin-left: 5vw;
  h3{
    font-size: 5vw;
    font-weight: 600;
    font-family: $smallheading;
  }
  h4{
    font-size: 4vw;
    font-weight: 500;
    font-family: $smallheading;
  }
  p{
    font-size: 3vw;
    font-weight: 400;
    font-family: $paragraph;
  }
}

#profilebox{
  .venue{
    background: #892c68;
    padding-top: 4vw;
    width: 40vw;
    height: 14vw;
    text-align-last: center;
    a{
      text-decoration: none;
      font-family: $paragraph;
      color: white;
      font-weight: 500;
    }
    .fa-arrow-right::before{
      color: white;
      font-size: 4vw;
      margin-left: 3vw;
      padding-top: 5vw;
    }
  }
  .event{
    background: #161d7b;
    width: 40vw;
    padding-top: 4vw;
    height: 14vw;
    text-align-last: center;
    a{
      text-decoration: none;
      font-family: $paragraph;
      color: white;
      font-weight: 500;
    }
    .fa-arrow-right::before{
      color: white;
      font-size: 4vw;
      margin-left: 3vw;
      padding-top: 5vw;
    }
  }
}

#bookinglist{
  width: -webkit-fill-available;
  height: 23vw;
  background-color: rgb(187, 141, 187);
  border-radius: 10px;
  text-align-last: center;
  margin: 7vw;
  a{
    text-decoration: none;
    font-family: $smallheading;
    color: $black;
    font-weight: 600;
  }
}

#logout{
  margin-left: 53vw;
  a{
    background: #f17a7a;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 3px;
  }
}
