@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@100;300;400;500&display=swap');
$heading: 'Anton', sans-serif;
$smallheading: 'Oswald', sans-serif;
$paragraph: 'Urbanist', sans-serif;

$primary: #9395D3;
$secondary: #A2A3BB;
$tertiary: #B3B7EE;
$black: #000807;
$white: #FBF9FF;

#booking-description{
  img{
    width: -webkit-fill-available;
  }
  h2{
    font-size: 4vw;
    font-family: $smallheading;
  }
}

.createevent-btn{
  .btn{
    background: black;
    color: white;
    font-weight: 500;
    font-size: 7vw;
  }

}

#bookingtitle{
  text-align-last: center;
  h3{
    font-size: 5vw;
    font-family: $smallheading;
  }
}


// PROFILE PAGE

.profile-photo{
  padding-top: 3vw;
  padding-left: 3vw;
  img{
    border-radius: 50%;
    width: 50%;
  }
}
.profile-info{
  h4{
    font-size: 4vw;
    font-weight: 600;
    font-family: $smallheading;
  }
  p{
    font-size: 4vw;
    font-weight: 600;
    font-family: $paragraph;
  }
}

#profilebox{
  .venue{
    background: $primary;
    padding: 2vw;
    a{
      text-decoration: none;
      font-family: $paragraph;
      color: $black;
      font-weight: 600;
    }
  }
  .event{
    background: $tertiary;
    padding: 2vw;
    a{
      text-decoration: none;
      font-family: $paragraph;
      color: $black;
      font-weight: 600;
    }
  }
}
