<div class="container">
  <div class="row pt-3" id="notiheader">
    <h3>Notification</h3>
  </div>

  <div class="col-sm-12" id="boxcontrol">
    <div
    data-controller="tabs"
    data-tabs-active-class="activebtn"
    data-tabs-default-tab-value="tab1"
    >
    <!-- buttons to toggle between tabs -->
    <div class="notbtn">
      <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select">Event Invitation</button>
      <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select">Friend Request</button>
    </div>

    <!-- the tabs -->
    <div class="notilist">
      <div data-tabs-target="tab" id="tab1">
        <%= render 'invitations'  %>
      </div>

      <!-- tab 2 is hidden by default, to prevent 'flashing in' -->
      <div data-tabs-target="tab" id="tab2" class='hidden'>
        <%= render 'friend_requests/index' %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
